body {
    background: black;
    width: 100%;
    overflow-x: hidden;
}

.spinner {
    width: 120px;
    height: 120px;
    border: 4px solid #f3f3f3;
    border-top: 6px solid #19799C;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}

#acelerar {
    display: none;
}

#mivideo {
    z-index: -20;
    position: relative;
    left: 25%;
    width: 50%;
    height: 50%;
    top: 5em;
}

.botones {
    top: 1em;
    left: 25%;
    position: relative;
}

hr {
    position: relative;
    width: 50%;
    top: 2em;
    z-index: 20;
    border: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid white;
    height: 0;
    opacity: 0.5;
}

#boton1 {
    width: 8%;
    display: none;
    position: relative;
    top: -10em;
    left: 35%;
}

#boton2 {
    width: 8%;
    display: none;
    position: relative;
    top: -10em;
    left: 55%;
}

#boton4 {
    width: 8%;
    display: none;
    position: relative;
    top: -14em;
    left: 25%;
}

#boton5 {
    width: 8%;
    display: none;
    position: relative;
    top: -12em;
    left: 61%;
}

#boton1:hover,
#boton2:hover,
#boton3:hover,
#boton4:hover,
#boton5:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
